.emailDetail {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-top: 15px;
  border-radius: 10px;
  height: 550px;
}

/* Email Header :- */

.emailHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  padding: 5px;
  border-bottom: 2px solid whitesmoke;
}

.emailDetail .emailHeaderContent {
  display: flex;
  align-items: center;
  padding-right: 10px;
  position: sticky;
}

.emailHeaderContent .backArrow {
  margin-right: 10px;
}

.emailHeaderContent__columnOne,
.emailHeaderContent__columnTwo,
.emailHeaderContent__columnThree {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 2.5px solid whitesmoke;
  padding-right: 10px;
  margin-right: 10px;
}

.emailHeaderContent svg {
  font-size: 20px;
}

.emailHeader__mailCount {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-right: 30px;
}

.emailHeader__mailCount svg {
  font-size: 20px;
}

/* Email Body :- */
.emailBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
}

/* First Header */
.emailBody .emailBody__headerOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.emailBody .emailBody__headerOne h4 {
  margin-left: 70px;
  font-size: larger;
  font-weight: 500;
  letter-spacing: 1px;
}

.emailBody__headerOne .emailBody__headerOneIcons {
  margin-right: 10px;
}

.emailBody .emailBody__headerOne svg {
  font-size: 20px;
}

/* Second header */

.emailBody__headerTwo {
  width: 100%;
}

.emailBody__headerTwo .headerTwo__content {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.headerTwo__content .content__profileImage {
  padding: 0px 8px;
}

.emailBody__headerTwo .MuiAvatar-root {
  height: 60px !important;
  width: 60px !important;
}

.headerTwo__mailInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: small;
  color: gray;
}

.headerTwo__mailInfo .contentOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.contentOne .userDetails {
  display: flex;
  align-items: center;
  gap: 4px;
}

.userDetails span {
  font-weight: 600;
  color: black;
  font-size: medium;
}

.userDetails button {
  border: none;
  outline: none;
  color: gray;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 11px;
}

.contentOne .otherInfo {
  display: flex;
  align-items: center;
}

.contentOne .otherInfo svg {
  font-size: 18px;
}

.headerTwo__mailInfo .contentTwo {
  display: flex;
  align-items: center;
  height: 15px;
}

.contentTwo svg {
  font-size: 14px;
}

/* Email body message :- */
.emailBody__content {
  height: 90%;
  width: 90%;
  justify-content: center;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
