.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar .compose__btn {
  /* padding: 10px 20px !important; */
  padding: 15px;
  border-radius: 10px !important;
  box-shadow: 2px 2px 3px #ccc;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 10px !important;
  max-width: 150px;
  background-color: var(--button-background);
}

.sidebar .compose__btn:hover {
  background-color: var(--button-background);
  box-shadow: 5px 5px 8px lightgray;
}

.sidebarOptions__heading {
  margin: 0;
  margin-left: 25px;
  font-size: 17px;
}

.sidebarOptions__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarOptions__line {
  width: 100%;
  border: 0.5px solid lightgrey;
}


