.header {
  display: grid;
  grid-template-columns: 250px auto 200px;
  height: 35px;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__left img {
  width: 125px;
  cursor: pointer;
}

.header__middle {
  display: flex;
  flex: 0.7;
}

.header__middle .search_mail {
  display: flex;
  align-items: center;
  flex: 0.7;
  background-color: var(--search-background);
  border-radius: 40px;
}

.header__middle .search_mail input {
  outline: none;
  border: none;
  background: transparent;
  font-size: medium;
  flex: 1;
  letter-spacing: 1px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right .MuiAvatar-root {
  cursor: pointer;
}
