.login {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.login img {
  width: 170px;
}

.contentSignIn {
  display: grid;
  grid-template-rows: 54px 50px 50px;
  width: 100%;
  justify-content: center;
}

.content .signin {
  margin-top: 50px;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .continue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .inputContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.next {
  border: none;
  border-radius: 5px;
  background: #4c8bf5;
  color: white;
  font-weight: 700;
  width: 100px;
  font-size: medium;
  padding: 10px;
  margin-bottom: 10px;
}

.next:hover {
  cursor: pointer;
  background: #0f52ba;
  transition-duration: 1s;
}

.inputContent span {
  color: #4c8bf5;
  font-weight: 700;
  cursor: pointer;
  width: 20%;
}

.inputContent span:hover {
  text-decoration: underline;
}

.content .guestText {
  display: grid;
  grid-template-rows: 35px 20px;
  width: 100%;
  height: 80px;
  color: gray;
}

.content .guestText p {
  margin-left: 30px;
  font-size: medium;
}

.content .guestText span {
  color: #4c8bf5;
  font-weight: 700;
  margin-left: 30px;
  cursor: pointer;
  width: 17%;
}

.guestText span:hover {
  text-decoration: underline;
}

.content .loginButton {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.content .loginButton button {
  height: 30px;
}

.loginButton .create {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #4c8bf5;
  font-weight: 700;
  font-size: medium;
}

.loginButton .create:hover {
  box-shadow: 5px 5px 5px #4c8bf5;
  border-radius: 10px;
  transition: all;
  transition-duration: 1s;
}

/* SubText */

.login .subtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  font-size: small;
}

.subtext .subtextOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-right: 60px;
}

.subtextOne svg {
  font-size: 18px;
  color: black;
}

.subtext .subtextTwo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.subtextTwo p {
  margin-left: 40px;
}

a {
  text-decoration: none;
}
