.signOutModel {
  position: absolute;
  right: 0;
  top: 68px;
  width: 350px;
  margin-right: 35px;
  background: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main :- */
.signOutModel .main {
  width: 95%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main .personal {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding: 5px;
}

.personal .MuiAvatar-root {
  margin-left: 10px;
  margin-top: 30px;
}

.personal .info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.info p {
  font-size: 16px;
  font-weight: 600;
}

.info span {
  font-size: 13px;
  font-weight: 400;
}

.info button {
  font-size: 14px;
  font-weight: 500;
  width: 220px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 20px;
}

.info button:hover {
  background: whitesmoke;
}

.main .addAccount {
  font-size: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid gray;
}

.main .addAccount:hover {
  transition: all;
  transition-duration: 1s;
  background: #add8e6;
}

.addAccount .icon {
  margin-left: 5%;
}

.addAccount p {
  margin-right: 30%;
}

/* Footer */
.signOutModel .footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .signOut {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin-top: 4px;
  gap: 45px;
}

.signOut .icon {
  margin-left: 7%;
}

.footer .signOut:hover {
  transition: all;
  transition-duration: 1s;
  background: #add8e6;
}

.footer .terms {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.terms {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
